:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

body {
	background-color: var(--dark-alt);
	color: var(--light);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* background-color: #333; */
}
  
li {
	float: left;
}

nav {
	background: linear-gradient(#3c4e6e, var(--dark-alt));
}

.link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.link:hover:not(.active){
	background-color: #111;
}
  
.active {
	background-color: #04AA6D;
}

div * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.board {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	/* gap: 1px; */
	grid-auto-rows: minmax(50px, auto);
	text-align: center;
	max-width: 504px;
	max-height: 504px;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 20px auto;
	float: left;
}

.rank {
	width: 100%;
	height: 100%;
	max-width: 50px;
	max-height: 50px;
	float: left;
	margin: 3px;
	padding: 18px 0 0 10px;
	font-size: large;
	text-align: left;
}

.file {
	width: 100%;
	height: 100%;
	max-width: 50px;
	max-height: 50px;
	float: left;
	/* margin: 3px; */
	padding: 0 0 0 13px;
	font-size: large;
}

.gamecell {
	border: 1px solid #000;
	width: 60px;
	height: 60px;
	max-width: 100px;
	max-height: 100px;
	float: left;
	margin: 3px;
	/* transition: all 0.5s ease-in-out; */
	border-radius: 5px;
	font-size: 30pt;
	padding: 0 0 0 6px;
	/* cursor: pointer; */
	z-index: 1;
	background: var(--light);
}

.piece {
	margin-top: 4px;
	margin-left: -8px;
	width: 100%;
}

.ocup {
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.ocup:hover {
	color: #fff;
	background: rgba(37, 88, 228, 0.712);
	z-index: 2;
	transform: translate(5px, -5px);
	animation: neonBlueText 1.5s ease-in-out infinite alternate;
}

/* .gamecell:hover {
	color: #fff;
	background: rgba(37, 88, 228, 0.712);
	z-index: 2;
	transform: translate(5px, -5px);
	animation: neonBlueText 1.5s ease-in-out infinite alternate;
} */

.moves {
	position: relative;
	height: 200px;
	width: 200px;
	float: right;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 0 0 0 6px;
	background: var(--dark);
}

/* .PawnAdv {
	position: relative;
	z-index: 10;

	background-color: beige;
	border-radius: 2px;
  	box-shadow: 0px 3px 24px var(--dark);
} */

.pieceAdv {
	/* border: 1px solid #000; */
	margin-top: 4px;
	margin-left: -12px;
	width: 110%;
	border-radius: 5px;
	font-size: 30pt;
	padding: 0 0 0 6px;
	cursor: pointer;
	/* background: var(--light); */

	/* background:rgba(128, 128, 128, 0.801); */
	z-index: 12;
}

/* .pieceAdv:hover {
	color: #fff;
	background: rgba(37, 88, 228, 0.712);
	z-index: 13;
	transform: translate(5px, -5px);
	animation: neonBlueText 1.5s ease-in-out infinite alternate;
} */

.popup {
	position: absolute;
	top: 52.2%;
	left: 57.2%;
	transform: translate(-50%, -50%);
  
	width: 100%;
	max-width: 250px;
	height: 100%;
	max-height: 250px;
	background-color: var(--light);
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0px 3px 24px var(--dark);
	float: left;
	z-index: 100;
	background: #202B3E;
  }
  
.content {
	align-items: center;
	padding-left: 25px;
	padding-top: 5px;
}
  
.popup h3 {
	white-space: nowrap;
	overflow: hidden;
	color: var(--light);
	margin-bottom: 12px;
	margin-right: 25px;
	font-weight: 400;
	/* text-transform: uppercase; */
}

.choices {
	border: 1px solid #000;
	width: 60px;
	height: 60px;
	max-width: 100px;
	max-height: 100px;
	float: left;
	margin: 3px;
	transition: all 0.25s ease-in-out;
	border-radius: 5px;
	font-size: 30pt;
	padding: 0 0 0 6px;
	cursor: pointer;
	z-index: 1;
	background: var(--light);
}

.grey {
	background: rgba(128, 128, 128, 0.801);
	/* background: var(--light); */
}

.green {
	background: green;
	cursor: pointer;
}

.choices:hover {
	color: #fff;
	background: rgba(37, 88, 228, 0.712);
	z-index: 13;
	transform: translate(5px, -5px);
	animation: neonBlueText 1.5s ease-in-out infinite alternate;
}

.neonblue_txt {
	animation: neonBlueText 1.5s ease-in-out infinite alternate;
}

.neonorange_txt:hover {
	animation: neonOrangeText 1.5s ease-in-out infinite alternate;
}

.neongreen_txt {
	animation: neonGreenText 1.5s ease-in-out infinite alternate;
}
  
  /* --- N E O N    T E X T --- */
  @keyframes neonBlueText {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
		0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
	}
	to {
	  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
		0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
	}
  }
  
  @keyframes neonOrangeText {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
		0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
	}
	to {
	  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
		0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
	}
  }
  
  @keyframes neonGreenText {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
		0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
	}
	to {
	  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
		0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
	}
  }
  /* --- N E O N --- */
  
  /* animation: neon 1.5s ease-in-out infinite alternate; */
  
  @keyframes neonBlue {
	from {
	  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
		0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
	}
	to {
	  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
		0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
	}
  }
  
  /*! * * * * * * * * * * * * * * * * * * * *\  
	CSShake :: shake-little
	v1.5.0
	CSS classes to move your DOM
	(c) 2015 @elrumordelaluz
	http://elrumordelaluz.github.io/csshake/
	Licensed under MIT
  \* * * * * * * * * * * * * * * * * * * * */
  .shake-little {
	display: inline-block;
	transform-origin: center center; }
  
  .shake-freeze,
  .shake-constant.shake-constant--hover:hover,
  .shake-trigger:hover .shake-constant.shake-constant--hover {
	animation-play-state: paused; }
  
  .shake-freeze:hover,
  .shake-trigger:hover .shake-freeze, .shake-little:hover,
  .shake-trigger:hover .shake-little {
	animation-play-state: running; }
  
  @keyframes shake-little {
	2% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	4% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	6% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	8% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	10% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	12% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	14% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	16% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	18% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	20% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	22% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	24% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	26% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	28% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	30% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	32% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	34% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	36% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	38% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	40% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	42% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	44% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	46% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	48% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	50% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	52% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	54% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	56% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	58% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	60% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	62% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	64% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	66% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	68% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	70% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	72% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	74% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	76% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	78% {
	  transform: translate(0px, 0px) rotate(0.5deg); }
	80% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	82% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	84% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	86% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	88% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	90% {
	  transform: translate(0px, 1px) rotate(0.5deg); }
	92% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	94% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	96% {
	  transform: translate(1px, 0px) rotate(0.5deg); }
	98% {
	  transform: translate(1px, 1px) rotate(0.5deg); }
	0%, 100% {
	  transform: translate(0, 0) rotate(0); } }
  
  .shake-little:hover,
  .shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
	animation-name: shake-little;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite; }
